/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(8px + 2vmin);
  color: #525f7f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #f6f9fc;
}

a {
  text-decoration: none;
  color: #5a5d7a;
}

a:-webkit-any-link {
  cursor: pointer;
}
.navbar-container {
  min-width: 90%;
}
.navbar{
  float: right;
  padding-top: 18px;
  margin-right: 20px;
}
.nav-item {
  margin: 1vmin 2vmin;
}
.nav-item:hover {
  color: #7795f8;
  /* border-bottom: 2px solid rgb(116, 127, 224); */
  transition: all 0.5s ease;  
}

.projects-link{
  font-weight: 600;
  color: #747fe0;
}

.projects-link:hover {
  border-bottom: 2px solid rgb(116, 127, 224);
}

.top {
  display: inline-block;
  margin: 5px;
  /* set size */
  padding: calc(5px + 1vh);
  box-shadow: inset 4px -4px 0 0 #747fe0
}
.topButton-container {
  position: fixed;
  right: calc(5px + 2vw);
  bottom: calc(5px + 2vh);
  transition: transform .5s;
}
.top-arrow-up {
  transform: rotate(135deg);
}

.hide {
  transform: translateY(200px);
}
#change-mode{
  position: fixed;
  right: calc(5px + 1.3vw);
  top: calc(5px + 2vh);
}
#change-mode:hover{
  cursor: pointer;
}

.title-container {
  max-width: 90%;
  text-align: left;
}
.title {
  font-family: 'Inconsolata', monospace;
  font-size: calc(38px + 5vmin);
  margin-top: 18vh;
  color: #747fe0;

}
.description {
  margin: 18vh 0;
}

.about-container {
  display:flex;
  justify-content: center;
}

.terminal {
  width: 75%;
}
.terminal-header {
  height: 28px;
  background-color: #e4e3e5;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 9px;
}
.red {
  background-color: #f96256;
  border: 1px solid #f65549;
}
.yellow {
  background-color: #fdbc3d;
  border: 1px solid #ffb524;
}
.green {
  background-color: #33c948;
  border: 1px solid #2dbb41;
}

.terminal-window{
  background-color:#5a5d7a;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 50px 100px rgba(50,50,93,.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12);
}
.statement{
  margin: 0 35px 15px;
  padding: 15px 0 0;
  font-family: 'Inconsolata', monospace;
  font-size: calc(8px + 1.5vmin);
}

.input-statement {
  color:#f7f7f7;
}
.return-statement {
  color: #e7d184;
}
.terminal-sensor-container{
  padding-bottom: 30px;
}

.about-container .terminal .terminal-window a {
  color: #35feff;
}
.about-container .terminal .terminal-window a:hover {
  color: rgba(53, 254, 255, .8);
}

.cursor {
  content: "";
  display: inline-block;
  background-color: rgba(116, 127, 224, .75);
  vertical-align: top;
  height: calc(48px + 5vmin);
  width: calc(10px + 5vmin);
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}
.terminal-cursor {
  height: calc(10px + 1.2vmin);
  width: calc(2px + 1.2vmin);
  background-color:rgba(247, 247, 247, .75);
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.project-title-container, .contact-title-container {
  width: 15em;
  border-bottom: 6px solid rgb(116, 127, 224);
  margin-bottom: 50px;
}
#project-title, #contact-title {
  margin: 15vh 0 5px 0;
}
.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  width: 75%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 60px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
  overflow: hidden;
  padding: 35px;
}

.content {
  font-size: calc(8px + 1.2vmin);
  margin-bottom: 20px;
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
}

.project-skill {
  border-radius: 4px;
  border: 2px solid #92eac0;
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: calc(4px + 1.25vmin);
  color: #525f7f;
}

.project-links{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.project-link{
  margin-right: 20px;
  margin-top: 20px;
  white-space: nowrap;
  display: inline-block;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  border-radius: 4px;
  letter-spacing: .025em;
  text-decoration: none;
  transition: all .15s ease;
  font-family: 'Camphor', 'Open Sans', 'Segoe UI', sans-serif;
  font-size: calc(4px + 1.25vmin);
  font-weight: 400;
  box-sizing: border-box;
  background: #747fe0;
  color: #fff;
}
.project-link:hover {
  background: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.project-github-link{
  background: #fff;
    color: #747fe0;
}

.project-github-link:hover{
  background: #fff;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
}

a.contact-items{
  margin: 0 20px;
}
a.contact-items:hover {
  color: #7795f8;
  /* border-bottom: 2px solid rgb(116, 127, 224); */
  transition: all 0.5s ease;  
}

.copyright-container{
  display: flex;
  justify-content: center;
  padding-top: calc(8px + 1vmin);
  padding-bottom: calc(4px + 1vmin);
}

#copyright {
  margin-top: 0;
  font-size: calc(8px + 1vmin);
}
