/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(8px + 2vmin);
  color: #525f7f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #f6f9fc;
}

a {
  text-decoration: none;
  color: #5a5d7a;
}

a:-webkit-any-link {
  cursor: pointer;
}
.navbar-container {
  position: absolute;
  min-width: 80%;
}
.navbar{
  float: right;
  padding: 10px 0;
}
.nav-item {
  margin: 1vmin 2vmin;
}

.projects-link{
  font-weight: 600;
  color: #747fe0;
}

.title-container {
  max-width: 90%;
  text-align: left;
}
.title {
  font-size: calc(42px + 2vmin);
  margin-top: 20vh;
  color: #747fe0;

}
.description {
}

/* Terminal Header and Buttons */
.terminal-header {
  height: 28px;
  background-color: #e4e3e5;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 9px;
}
.red {
  background-color: #f96256;
  border: 1px solid #f65549;
}
.yellow {
  background-color: #fdbc3d;
  border: 1px solid #ffb524;
}
.green {
  background-color: #33c948;
  border: 1px solid #2dbb41;
}



